@page "/"
@inject BlazorApp4.Data.UserService Service
<h1>Hello, world!</h1>

number of users: @Users.Count()
<button @onclick="Add">click me. I work if you use Sqlite</button>

<ul>
@foreach(var user in Users) 
{
    <li>@user.UserName</li>
}
</ul>

@code {
    List<IdentityUser> Users = new List<IdentityUser>();

    protected override async Task OnInitializedAsync()
    {
        Users = await Service.LoadUsers();
    }

    public async Task Add()
    {
        var user = new IdentityUser { UserName = $"test_{Guid.NewGuid().ToString()}" };
        var result = await Service.Create(user);
        if (result.Succeeded)
        {
            Users.Add(user);
        }
    }
}